.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.borderline {
    background-color: pink;
    width: calc(50vw + 100px);
    height: calc(30vh + 100px);
}

.whiteline {
    background-color: white;
    width: calc(50vw + 50px);
    height: calc(30vh + 50px);
}

.pinkbox {
    background-color: pink;
    width: 50vw;
    height: 30vh;
}